<style>
    section{
        padding: 80px 13% 70px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap:  3.5rem;
        background: rgb(20, 18, 18);
        position: absolute;
        left: 0;
        right: 0;
        /* top: 0; */
        /* bottom: 0; */
    }
    .footer-contant a{
        color: azure;
        font-weight: bold;
        font-size: 45px;
    }
    .footer-contant li a{
        color: azure;
        display: block;
        font-size: 15px;
        font-weight: 400;
        transition: all .4s ease;
    }
    .footer-contant li:hover a{
        transform: translateY(-3px) translateX(-5px);
        color: rgb(37, 193, 255);
    }
   
</style>

<section class="footer">
    <div class="footer-contant">
            <a href="/"> BalancedLife </a>
    </div>
    <div class="footer-contant" >
        <li><a href="#">Health & Wellness</a></li>
        <li><a href="#">Food & Nutrition</a></li>
        <li><a href="#">Social Impact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About Us</a></li>
    </div>


</section>