<link rel="stylesheet"  href="./css/style.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
<!-- <script>
    $(function(){
        $(document).scroll(function(){
            var $nav = $(".navbar-fixed-top");
            $nav.toggleClass('scrolled',$(this).scrollTop()>$nav.height());
        })
    })
</script> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Lato:wght@300;400;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');
        *{
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style : none;
            box-sizing: border-box;
        }
        body{
            font-family: 'poppins',sans-serif;
        }
    .navbar a{
        height: 60px;
    }
    label.logo{
        color: rgb(50, 48, 48);
        font-size: 35px;
        font-weight: bold;
        line-height: 80px;
        padding: 0 50px;

    }

    .navbar{
        position:fixed;
        z-index: 1000;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        /* background-color: rgb(255, 255, 255); */
        /* background-color: rgba(253, 253, 253, 0.2); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* height: 80px;*/
        width: 100%;
         }

         .navbar a{
            color: rgb(255, 255, 255);
         }

         .menu a:hover{
            color: #0082e6;
         }
    
         .logo{
            flex: 1;
         }

         .logo a{
            display: flex;
            align-items: center;
            font-size: 40px;
            font-weight: bold;
            margin-left: 20px;
         }

         .menu{
            margin-right: 50px;
            display: flex;
            /* flex-direction: column; */
            align-items: center;
            list-style: none;
            /* justify-content: space-between; */
         }

         .menu li{
            padding: 15px 10px;
            font-size: 16px;
         }

         .menu-icon{
            font-size: 30px;
            display: none;
         }
         
         
         .nav__toggle{
            display: none;
            font-size: 1.25rem;
            color: white;
            cursor: pointer;
            margin-right: 90px;
         }
        @media screen and (max-width:1023px){
            .nav_menu{
                position: fixed;
                top: -100%;
                left: 0;
                background-color: #8dc5ef;
                width: 100%;
                box-shadow: 0 1px 16px hsla(210, 55%, 24%, .1);
                padding-block: 3.5rem 2rem;
                display: flex;
                flex-direction: column;
                row-gap: 2.5rem;
                transition: top .4s;

            }
            .menu{
                /* margin-right: 50px; */
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            list-style: none;
            row-gap: 2rem;
            }

            .menu:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: white;
  }

            .nav_button{
                align-items: center;
                /* margin-top: -30px; */
                margin-right: 45px;
                text-align: center;
            }
            .nav_menu a {
                color: black;
                transition: .3s;
            }
            .nav_button_link{
                background-color: rgb(103, 210, 229);
                padding: 1rem 2.5rem;
                border: 2px solid black;
                border-radius: .75rem;
            }
            .nav__toggle{
                display: block;
            }
        }
         

        
         .navbar.scrolled {
    background-color: rgba(12, 11, 11, 0.954); 
    transition: background-color 0.3s ease; 
}



    </style>

<nav class="navbar navbar-fixed-top" id="navbar">
        <div class="logo">
            <a href="/" class="logo-link">
                BalancedLife
            </a>
            <!-- <label for="">BalancedLife</label> -->
        </div>
        
        <!-- <label class="logo">Company logo</label> -->
    <div class="nav_menu">
        <ul class="menu">
            <li><a href="/health">Health & Wellness</a></li>
            <li><a href="/food">Food & Nutrition</a></li>
            <li><a href="/social">Social Impact</a></li>
            <!-- <li><a href="">Blog</li></a> -->
            <li><a href="/About">About Us</li></a>
            <li> <a href="/feedback" class="nav_button_link">Feedback</a></li>
        </ul>
        
    </div>

        <!-- <div class="nav__close" id="nav-close">
            <i class="ri-close-line "></i>
        </div> -->
        
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line " ></i>
        </div>
        
</nav>

<script>
    window.addEventListener('scroll', function() {
        var navbar = document.getElementById('navbar');
        navbar.classList.toggle('scrolled', window.scrollY > 0);
    });

    document.getElementById('nav_toggle').addEventListener('click', function() {
            document.getElementById('menu').classList.toggle('active');
        });
</script>